<section class="section--about-featured flex flex--wrap justify--around align--items-center spacing--gutter spacing--vert-2 margin--bot-2 margin--mob-bot-0">
	<div class="grid--one grid--sm-third grid--md-fourth">
		<i class="icon-weare-nobg" data-grunticon-embed></i>
	</div>
	<div class="grid--one grid--sm-three-fifths spacing--vert-2 spacing--dsk-vert-0">
		<i class="icon-wheat" data-grunticon-embed></i>
		<div class="hometitle font--serif font--bold margin--bot-1">{{home.about.content}}</div>
		<a href="{{home.about.link.url}}" target="{{home.about.link.target}}" class="text--uppercase font--tiny inline-flex flex--wrap align--items-center font--bold letter--1" title="{{home.about.link.title}}"> <span style="margin-left:.5em;">{{home.about.link.title}}</span></a>
	</div>
</section>